<a href="https://colab.research.google.com/github/victordot/Inteligencia-Artificial-2025-2/blob/main/02%20-%20preprocesado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"victordocampot","key":"0f8ade079b2df30ff64919a0ea693ea6"}'}

In [ ]:
import os
import shutil

# Crear carpeta oculta .kaggle
os.makedirs('/root/.kaggle', exist_ok=True)

source_path = "kaggle.json"
destination_path = "/root/.kaggle/kaggle.json"

if os.path.exists(destination_path):
    os.remove(destination_path)

shutil.move(source_path, destination_path)

# Dar permisos
os.chmod(destination_path, 600)

In [ ]:
!kaggle competitions download -c udea-ai-4-eng-20252-pruebas-saber-pro-colombia
!ls -lh

Downloading udea-ai-4-eng-20252-pruebas-saber-pro-colombia.zip to /content
  0% 0.00/29.9M [00:00<?, ?B/s]
100% 29.9M/29.9M [00:00<00:00, 1.04GB/s]
total 30M
drwxr-xr-x 1 root root 4.0K Oct 28 13:34 sample_data
-rw-r--r-- 1 root root  30M Sep 16 01:46 udea-ai-4-eng-20252-pruebas-saber-pro-colombia.zip

In [ ]:
import zipfile

with zipfile.ZipFile("udea-ai-4-eng-20252-pruebas-saber-pro-colombia.zip", "r") as zip_ref:
    zip_ref.extractall("dataset_saber_pro")

In [ ]:
import pandas as pd

# Cargar el archivo
df = pd.read_csv("dataset_saber_pro/train.csv")

# Vista general
print(df.shape)   # filas y columnas
df.head()

(692500, 21)

,ID,PERIODO_ACADEMICO,E_PRGM_ACADEMICO,E_PRGM_DEPARTAMENTO,E_VALORMATRICULAUNIVERSIDAD,E_HORASSEMANATRABAJA,F_ESTRATOVIVIENDA,F_TIENEINTERNET,F_EDUCACIONPADRE,F_TIENELAVADORA,...,E_PRIVADO_LIBERTAD,E_PAGOMATRICULAPROPIO,F_TIENECOMPUTADOR,F_TIENEINTERNET.1,F_EDUCACIONMADRE,RENDIMIENTO_GLOBAL,INDICADOR_1,INDICADOR_2,INDICADOR_3,INDICADOR_4
0,904256,20212,ENFERMERIA,BOGOTÁ,Entre 5.5 millones y menos de 7 millones,Menos de 10 horas,Estrato 3,Si,Técnica o tecnológica incompleta,Si,...,N,No,Si,Si,Postgrado,medio-alto,0.322,0.208,0.310,0.267
1,645256,20212,DERECHO,ATLANTICO,Entre 2.5 millones y menos de 4 millones,0,Estrato 3,No,Técnica o tecnológica completa,Si,...,N,No,Si,No,Técnica o tecnológica incompleta,bajo,0.311,0.215,0.292,0.264
2,308367,20203,MERCADEO Y PUBLICIDAD,BOGOTÁ,Entre 2.5 millones y menos de 4 millones,Más de 30 horas,Estrato 3,Si,Secundaria (Bachillerato) completa,Si,...,N,No,No,Si,Secundaria (Bachillerato) completa,bajo,0.297,0.214,0.305,0.264
3,470353,20195,ADMINISTRACION DE EMPRESAS,SANTANDER,Entre 4 millones y menos de 5.5 millones,0,Estrato 4,Si,No sabe,Si,...,N,No,Si,Si,Secundaria (Bachillerato) completa,alto,0.485,0.172,0.252,0.190
4,989032,20212,PSICOLOGIA,ANTIOQUIA,Entre 2.5 millones y menos de 4 millones,Entre 21 y 30 horas,Estrato 3,Si,Primaria completa,Si,...,N,No,Si,Si,Primaria completa,medio-bajo,0.316,0.232,0.285,0.294

In [ ]:
# 1. Mostrar tipos de datos
print("Tipos de Datos:")
print(df.dtypes)

# 2. Calcular y mostrar valores faltantes
print("\nValores Faltantes:")
print(df.isnull().sum())

# Separar columnas numéricas y categóricas
columnas_numericas = df.select_dtypes(include=['number']).columns
columnas_categoricas = df.select_dtypes(include=['object']).columns

# 3. Mostrar estadísticas descriptivas para columnas numéricas
print("\nEstadísticas Descriptivas para Columnas Numéricas:")
if not columnas_numericas.empty:
    display(df[columnas_numericas].describe())
else:
    print("No se encontraron columnas numéricas.")

# 4. Mostrar conteos de valores para columnas categóricas
print("\nConteos de Valores para Columnas Categóricas:")
if not columnas_categoricas.empty:
    for col in columnas_categoricas:
        print(f"\nConteos de valores para la columna: {col}")
        display(df[col].value_counts())
else:
    print("No se encontraron columnas categóricas.")

Tipos de Datos:
ID                               int64
PERIODO_ACADEMICO                int64
E_PRGM_ACADEMICO                object
E_PRGM_DEPARTAMENTO             object
E_VALORMATRICULAUNIVERSIDAD     object
E_HORASSEMANATRABAJA            object
F_ESTRATOVIVIENDA               object
F_TIENEINTERNET                 object
F_EDUCACIONPADRE                object
F_TIENELAVADORA                 object
F_TIENEAUTOMOVIL                object
E_PRIVADO_LIBERTAD              object
E_PAGOMATRICULAPROPIO           object
F_TIENECOMPUTADOR               object
F_TIENEINTERNET.1               object
F_EDUCACIONMADRE                object
RENDIMIENTO_GLOBAL              object
INDICADOR_1                    float64
INDICADOR_2                    float64
INDICADOR_3                    float64
INDICADOR_4                    float64
dtype: object

Valores Faltantes:
ID                                 0
PERIODO_ACADEMICO                  0
E_PRGM_ACADEMICO                   0
E_PRGM_DEPARTAMENTO                0
E_VALORMATRICULAUNIVERSIDAD     6287
E_HORASSEMANATRABAJA           30857
F_ESTRATOVIVIENDA              32137
F_TIENEINTERNET                26629
F_EDUCACIONPADRE               23178
F_TIENELAVADORA                39773
F_TIENEAUTOMOVIL               43623
E_PRIVADO_LIBERTAD                 0
E_PAGOMATRICULAPROPIO           6498
F_TIENECOMPUTADOR              38103
F_TIENEINTERNET.1              26629
F_EDUCACIONMADRE               23664
RENDIMIENTO_GLOBAL                 0
INDICADOR_1                        0
INDICADOR_2                        0
INDICADOR_3                        0
INDICADOR_4                        0
dtype: int64

Estadísticas Descriptivas para Columnas Numéricas:

,ID,PERIODO_ACADEMICO,INDICADOR_1,INDICADOR_2,INDICADOR_3,INDICADOR_4
count,692500.000000,692500.000000,692500.000000,692500.000000,692500.000000,692500.000000
mean,494606.130576,20198.366679,0.268629,0.259996,0.262087,0.262903
std,285585.209455,10.535037,0.122130,0.093480,0.058862,0.067944
min,1.000000,20183.000000,0.000000,0.000000,0.000000,0.000000
25%,247324.750000,20195.000000,0.203000,0.212000,0.254000,0.255000
50%,494564.500000,20195.000000,0.240000,0.271000,0.276000,0.285000
75%,741782.500000,20203.000000,0.314000,0.309000,0.293000,0.303000
max,989286.000000,20213.000000,0.657000,0.487000,0.320000,0.332000

Conteos de Valores para Columnas Categóricas:

Conteos de valores para la columna: E_PRGM_ACADEMICO

E_PRGM_ACADEMICO
DERECHO                                                   53244
ADMINISTRACION DE EMPRESAS                                51902
CONTADURIA PUBLICA                                        39664
PSICOLOGIA                                                31932
INGENIERIA INDUSTRIAL                                     28481
                                                          ...
DEPORTE Y ACTIVIDADA FISICA                                   1
QUIMICA Y FARMACIA                                            1
LICENCIATURA EN EDUCACON FISICA, RECREACION Y DEPORTES        1
COMUNICACIÓN SOCIAL Y PERIODISMO                              1
PROFESIONAL EN INVESTIGACIÓN CRIMINAL                         1
Name: count, Length: 948, dtype: int64

Conteos de valores para la columna: E_PRGM_DEPARTAMENTO

E_PRGM_DEPARTAMENTO
BOGOTÁ             282159
ANTIOQUIA           83607
VALLE               44588
ATLANTICO           41020
SANTANDER           28828
NORTE SANTANDER     22588
BOLIVAR             20629
BOYACA              14048
CUNDINAMARCA        14018
NARIÑO              13454
RISARALDA           12679
CORDOBA             12188
TOLIMA              11921
CALDAS              11640
CAUCA               11471
HUILA                9995
MAGDALENA            9512
SUCRE                8674
CESAR                8279
QUINDIO              8229
META                 7910
LA GUAJIRA           4778
CHOCO                4289
CAQUETA              2659
CASANARE             1852
PUTUMAYO              795
ARAUCA                589
AMAZONAS               40
GUAVIARE               37
VAUPES                 14
SAN ANDRES             10
Name: count, dtype: int64

Conteos de valores para la columna: E_VALORMATRICULAUNIVERSIDAD

E_VALORMATRICULAUNIVERSIDAD
Entre 1 millón y menos de 2.5 millones      204048
Entre 2.5 millones y menos de 4 millones    127430
Menos de 500 mil                             80263
Entre 500 mil y menos de 1 millón            78704
Entre 4 millones y menos de 5.5 millones     69736
Más de 7 millones                            68014
Entre 5.5 millones y menos de 7 millones     38490
No pagó matrícula                            19528
Name: count, dtype: int64

Conteos de valores para la columna: E_HORASSEMANATRABAJA

E_HORASSEMANATRABAJA
Más de 30 horas        249352
0                      116550
Entre 11 y 20 horas    115857
Entre 21 y 30 horas     92693
Menos de 10 horas       87191
Name: count, dtype: int64

Conteos de valores para la columna: F_ESTRATOVIVIENDA

F_ESTRATOVIVIENDA
Estrato 2      232671
Estrato 3      210685
Estrato 1      111991
Estrato 4       65514
Estrato 5       23608
Estrato 6       12605
Sin Estrato      3289
Name: count, dtype: int64

Conteos de valores para la columna: F_TIENEINTERNET

F_TIENEINTERNET
Si    592514
No     73357
Name: count, dtype: int64

Conteos de valores para la columna: F_EDUCACIONPADRE

F_EDUCACIONPADRE
Secundaria (Bachillerato) completa      128289
Primaria incompleta                     125675
Educación profesional completa           83117
Secundaria (Bachillerato) incompleta     71654
Técnica o tecnológica completa           62995
Primaria completa                        55958
Postgrado                                44169
Educación profesional incompleta         27084
Técnica o tecnológica incompleta         22552
Ninguno                                  22008
No sabe                                  16592
No Aplica                                 9229
Name: count, dtype: int64

Conteos de valores para la columna: F_TIENELAVADORA

F_TIENELAVADORA
Si    563390
No     89337
Name: count, dtype: int64

Conteos de valores para la columna: F_TIENEAUTOMOVIL

F_TIENEAUTOMOVIL
No    412606
Si    236271
Name: count, dtype: int64

Conteos de valores para la columna: E_PRIVADO_LIBERTAD

E_PRIVADO_LIBERTAD
N    692466
S        34
Name: count, dtype: int64

Conteos de valores para la columna: E_PAGOMATRICULAPROPIO

E_PAGOMATRICULAPROPIO
No    382201
Si    303801
Name: count, dtype: int64

Conteos de valores para la columna: F_TIENECOMPUTADOR

F_TIENECOMPUTADOR
Si    597670
No     56727
Name: count, dtype: int64

Conteos de valores para la columna: F_TIENEINTERNET.1

F_TIENEINTERNET.1
Si    592514
No     73357
Name: count, dtype: int64

Conteos de valores para la columna: F_EDUCACIONMADRE

F_EDUCACIONMADRE
Secundaria (Bachillerato) completa      141744
Primaria incompleta                      99420
Técnica o tecnológica completa           89542
Educación profesional completa           85326
Secundaria (Bachillerato) incompleta     81012
Primaria completa                        56125
Postgrado                                46246
Técnica o tecnológica incompleta         27533
Educación profesional incompleta         22470
Ninguno                                  14483
No sabe                                   3017
No Aplica                                 1918
Name: count, dtype: int64

Conteos de valores para la columna: RENDIMIENTO_GLOBAL

RENDIMIENTO_GLOBAL
alto          175619
bajo          172987
medio-bajo    172275
medio-alto    171619
Name: count, dtype: int64

In [ ]:
# Identificar columnas para eliminar basándose en la inspección previa
columnas_a_eliminar = ['F_TIENEAUTOMOVIL', 'F_TIENELAVADORA', 'F_TIENECOMPUTADOR', 'F_TIENEINTERNET', 'F_TIENEINTERNET.1']
df_limpio = df.drop(columns=columnas_a_eliminar)

# Identificar columnas categóricas para imputación
columnas_categoricas_a_imputar = ['F_ESTRATOVIVIENDA', 'E_HORASSEMANATRABAJA', 'F_EDUCACIONPADRE', 'F_EDUCACIONMADRE', 'E_VALORMATRICULAUNIVERSIDAD', 'E_PAGOMATRICULAPROPIO']

# Imputar valores faltantes en columnas categóricas con la moda
for col in columnas_categoricas_a_imputar:
    if col in df_limpio.columns:
        valor_moda = df_limpio[col].mode()[0]
        df_limpio[col].fillna(valor_moda, inplace=True)

# Verificar que no queden valores faltantes en las columnas especificadas
print("\nValores Faltantes después del manejo:")
print(df_limpio[columnas_categoricas_a_imputar].isnull().sum())

# Mostrar la forma del dataframe limpio
print("\nForma del DataFrame limpio:")
print(df_limpio.shape)

/tmp/ipython-input-2160447570.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_limpio[col].fillna(valor_moda, inplace=True)

Valores Faltantes después del manejo:
F_ESTRATOVIVIENDA              0
E_HORASSEMANATRABAJA           0
F_EDUCACIONPADRE               0
F_EDUCACIONMADRE               0
E_VALORMATRICULAUNIVERSIDAD    0
E_PAGOMATRICULAPROPIO          0
dtype: int64

Forma del DataFrame limpio:
(692500, 16)

In [ ]:
# Verificar que no queden valores faltantes en todo el DataFrame
print("\nValores Faltantes en todo el DataFrame después del manejo:")
print(df_limpio.isnull().sum())

Valores Faltantes en todo el DataFrame después del manejo:
ID                             0
PERIODO_ACADEMICO              0
E_PRGM_ACADEMICO               0
E_PRGM_DEPARTAMENTO            0
E_VALORMATRICULAUNIVERSIDAD    0
E_HORASSEMANATRABAJA           0
F_ESTRATOVIVIENDA              0
F_EDUCACIONPADRE               0
E_PRIVADO_LIBERTAD             0
E_PAGOMATRICULAPROPIO          0
F_EDUCACIONMADRE               0
RENDIMIENTO_GLOBAL             0
INDICADOR_1                    0
INDICADOR_2                    0
INDICADOR_3                    0
INDICADOR_4                    0
dtype: int64

In [ ]:
import pandas as pd

# 1. Identificar las columnas categóricas en el DataFrame df_limpio.
columnas_categoricas = df_limpio.select_dtypes(include=['object']).columns

# 2. Aplicar codificación one-hot a las columnas categóricas identificadas.
df_codificado = pd.get_dummies(df_limpio, columns=columnas_categoricas, dummy_na=False)

# 3. Concatenar las columnas numéricas originales con las columnas categóricas codificadas one-hot.
# get_dummies por defecto incluye las columnas originales, por lo que solo necesitamos mostrar el resultado.

# 4. Mostrar las primeras filas y la forma del DataFrame resultante.
print("Forma del DataFrame codificado:", df_codificado.shape)
display(df_codificado.head())

Forma del DataFrame codificado: (692500, 1037)

,ID,PERIODO_ACADEMICO,INDICADOR_1,INDICADOR_2,INDICADOR_3,INDICADOR_4,E_PRGM_ACADEMICO_3° CICLO PROFESIONAL NEGOCIOS INTERNACIONALES,E_PRGM_ACADEMICO_ACTIVIDAD FISICA Y DEPORTE,E_PRGM_ACADEMICO_ACUICULTURA,E_PRGM_ACADEMICO_ADMINISTRACION,...,F_EDUCACIONMADRE_Primaria completa,F_EDUCACIONMADRE_Primaria incompleta,F_EDUCACIONMADRE_Secundaria (Bachillerato) completa,F_EDUCACIONMADRE_Secundaria (Bachillerato) incompleta,F_EDUCACIONMADRE_Técnica o tecnológica completa,F_EDUCACIONMADRE_Técnica o tecnológica incompleta,RENDIMIENTO_GLOBAL_alto,RENDIMIENTO_GLOBAL_bajo,RENDIMIENTO_GLOBAL_medio-alto,RENDIMIENTO_GLOBAL_medio-bajo
0,904256,20212,0.322,0.208,0.310,0.267,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,645256,20212,0.311,0.215,0.292,0.264,False,False,False,False,...,False,False,False,False,False,True,False,True,False,False
2,308367,20203,0.297,0.214,0.305,0.264,False,False,False,False,...,False,False,True,False,False,False,False,True,False,False
3,470353,20195,0.485,0.172,0.252,0.190,False,False,False,False,...,False,False,True,False,False,False,True,False,False,False
4,989032,20212,0.316,0.232,0.285,0.294,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True

In [ ]:
from sklearn.preprocessing import StandardScaler

# 1. Identificar las columnas numéricas en el DataFrame df_codificado.
# Excluir la columna 'ID' ya que es un identificador y no una característica a escalar.
columnas_numericas = df_codificado.select_dtypes(include=['number']).columns.tolist()
if 'ID' in columnas_numericas:
    columnas_numericas.remove('ID')

# 2. Importar el StandardScaler de sklearn.preprocessing (ya hecho arriba).
# 3. Instanciar un objeto StandardScaler.
escalador = StandardScaler()

# 4. Ajustar el escalador a las columnas numéricas identificadas y transformarlas.
df_codificado[columnas_numericas] = escalador.fit_transform(df_codificado[columnas_numericas])

# 5. Reemplazar las columnas numéricas originales en df_codificado con los valores escalados (hecho en el paso anterior).

# 6. Mostrar las primeras filas y las estadísticas descriptivas del DataFrame resultante para verificar el escalado.
print("Primeras filas después del escalado:")
display(df_codificado.head())

print("\nEstadísticas descriptivas después del escalado:")
display(df_codificado[columnas_numericas].describe())

Primeras filas después del escalado:

,ID,PERIODO_ACADEMICO,INDICADOR_1,INDICADOR_2,INDICADOR_3,INDICADOR_4,E_PRGM_ACADEMICO_3° CICLO PROFESIONAL NEGOCIOS INTERNACIONALES,E_PRGM_ACADEMICO_ACTIVIDAD FISICA Y DEPORTE,E_PRGM_ACADEMICO_ACUICULTURA,E_PRGM_ACADEMICO_ADMINISTRACION,...,F_EDUCACIONMADRE_Primaria completa,F_EDUCACIONMADRE_Primaria incompleta,F_EDUCACIONMADRE_Secundaria (Bachillerato) completa,F_EDUCACIONMADRE_Secundaria (Bachillerato) incompleta,F_EDUCACIONMADRE_Técnica o tecnológica completa,F_EDUCACIONMADRE_Técnica o tecnológica incompleta,RENDIMIENTO_GLOBAL_alto,RENDIMIENTO_GLOBAL_bajo,RENDIMIENTO_GLOBAL_medio-alto,RENDIMIENTO_GLOBAL_medio-bajo
0,904256,1.294094,0.437002,-0.556223,0.813978,0.060296,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,645256,1.294094,0.346934,-0.481341,0.508180,0.016142,False,False,False,False,...,False,False,False,False,False,True,False,True,False,False
2,308367,0.439801,0.232301,-0.492038,0.729034,0.016142,False,False,False,False,...,False,False,True,False,False,False,False,True,False,False
3,470353,-0.319570,1.771650,-0.941332,-0.171371,-1.072993,False,False,False,False,...,False,False,True,False,False,False,True,False,False,False
4,989032,1.294094,0.387874,-0.299484,0.389259,0.457683,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True

Estadísticas descriptivas después del escalado:

,PERIODO_ACADEMICO,INDICADOR_1,INDICADOR_2,INDICADOR_3,INDICADOR_4
count,6.925000e+05,6.925000e+05,6.925000e+05,6.925000e+05,6.925000e+05
mean,6.243973e-14,-1.178013e-16,-1.450533e-16,2.177513e-15,-7.410679e-16
std,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00
min,-1.458627e+00,-2.199542e+00,-2.781294e+00,-4.452543e+00,-3.869422e+00
25%,-3.195699e-01,-5.373728e-01,-5.134332e-01,-1.373936e-01,-1.163206e-01
50%,-3.195699e-01,-2.344159e-01,1.177168e-01,2.363596e-01,3.252207e-01
75%,4.398015e-01,3.714978e-01,5.242203e-01,5.251688e-01,5.901454e-01
max,1.389016e+00,3.179990e+00,2.428368e+00,9.838658e-01,1.016969e+00

In [ ]:
# Crear una puntuación de indicador compuesta sumando las columnas de indicador escaladas
columnas_indicador = ['INDICADOR_1', 'INDICADOR_2', 'INDICADOR_3', 'INDICADOR_4']
df_codificado['INDICADOR_COMPUESTO'] = df_codificado[columnas_indicador].sum(axis=1)

# Mostrar las primeras filas del DataFrame df_codificado actualizado
print("Primeras filas después de crear nuevas características:")
display(df_codificado.head())

# Mostrar estadísticas descriptivas para el nuevo indicador compuesto
print("\nEstadísticas descriptivas para el indicador compuesto:")
display(df_codificado['INDICADOR_COMPUESTO'].describe())

Primeras filas después de crear nuevas características:

,ID,PERIODO_ACADEMICO,INDICADOR_1,INDICADOR_2,INDICADOR_3,INDICADOR_4,E_PRGM_ACADEMICO_3° CICLO PROFESIONAL NEGOCIOS INTERNACIONALES,E_PRGM_ACADEMICO_ACTIVIDAD FISICA Y DEPORTE,E_PRGM_ACADEMICO_ACUICULTURA,E_PRGM_ACADEMICO_ADMINISTRACION,...,F_EDUCACIONMADRE_Primaria incompleta,F_EDUCACIONMADRE_Secundaria (Bachillerato) completa,F_EDUCACIONMADRE_Secundaria (Bachillerato) incompleta,F_EDUCACIONMADRE_Técnica o tecnológica completa,F_EDUCACIONMADRE_Técnica o tecnológica incompleta,RENDIMIENTO_GLOBAL_alto,RENDIMIENTO_GLOBAL_bajo,RENDIMIENTO_GLOBAL_medio-alto,RENDIMIENTO_GLOBAL_medio-bajo,INDICADOR_COMPUESTO
0,904256,1.294094,0.437002,-0.556223,0.813978,0.060296,False,False,False,False,...,False,False,False,False,False,False,False,True,False,0.755053
1,645256,1.294094,0.346934,-0.481341,0.508180,0.016142,False,False,False,False,...,False,False,False,False,True,False,True,False,False,0.389915
2,308367,0.439801,0.232301,-0.492038,0.729034,0.016142,False,False,False,False,...,False,True,False,False,False,False,True,False,False,0.485439
3,470353,-0.319570,1.771650,-0.941332,-0.171371,-1.072993,False,False,False,False,...,False,True,False,False,False,True,False,False,False,-0.414046
4,989032,1.294094,0.387874,-0.299484,0.389259,0.457683,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.935331

Estadísticas descriptivas para el indicador compuesto:

count    6.925000e+05
mean     1.172452e-15
std      2.722337e+00
min     -1.323308e+01
25%      2.283944e-01
50%      6.477951e-01
75%      9.766015e-01
max      2.114060e+00
Name: INDICADOR_COMPUESTO, dtype: float64

In [ ]:
# Guardar el DataFrame df_codificado en un archivo CSV
df_codificado.to_csv('datos_entrenamiento_preprocesados.csv', index=False)

In [ ]:
import pandas as pd

# Cargar el archivo (asegúrate de que el archivo train.csv esté disponible)
try:
    df = pd.read_csv("dataset_saber_pro/train.csv")
except FileNotFoundError:
    print("Error: train.csv no encontrado. Asegúrate de haber cargado y extraído el archivo zip.")


# Eliminar columnas identificadas previamente
columnas_a_eliminar = ['F_TIENEAUTOMOVIL', 'F_TIENELAVADORA', 'F_TIENECOMPPUTADOR', 'F_TIENEINTERNET', 'F_TIENEINTERNET.1']
df_limpio = df.drop(columns=columnas_a_eliminar, errors='ignore')

# Identificar columnas categóricas para imputación
columnas_categoricas_a_imputar = ['F_ESTRATOVIVIENDA', 'E_HORASSEMANATRABAJA', 'F_EDUCACIONPADRE', 'F_EDUCACIONMADRE', 'E_VALORMATRICULAUNIVERSIDAD', 'E_PAGOMATRICULAPROPIO']

# Imputar valores faltantes en columnas categóricas con la moda
for col in columnas_categoricas_a_imputar:
    if col in df_limpio.columns:
        valor_moda = df_limpio[col].mode()[0]
        df_limpio[col] = df_limpio[col].fillna(valor_moda)

# Identificar las columnas categóricas en el DataFrame df_limpio.
columnas_categoricas = df_limpio.select_dtypes(include=['object']).columns

# Aplicar codificación one-hot a las columnas categóricas identificadas.
df_codificado = pd.get_dummies(df_limpio, columns=columnas_categoricas, dummy_na=False)

# Identificar las columnas numéricas en el DataFrame df_codificado.
# Excluir la columna 'ID' ya que es un identificador y no una característica a escalar.
columnas_numericas = df_codificado.select_dtypes(include=['number']).columns.tolist()
if 'ID' in columnas_numericas:
    columnas_numericas.remove('ID')

# Escalar características numéricas
from sklearn.preprocessing import StandardScaler
escalador = StandardScaler()
df_codificado[columnas_numericas] = escalador.fit_transform(df_codificado[columnas_numericas])

# Crear una puntuación de indicador compuesta sumando las columnas de indicador escaladas
columnas_indicador = ['INDICADOR_1', 'INDICADOR_2', 'INDICADOR_3', 'INDICADOR_4']
df_codificado['INDICADOR_COMPUESTO'] = df_codificado[columnas_indicador].sum(axis=1)

print("DataFrame df_codificado creado y listo.")

DataFrame df_codificado creado y listo.

In [ ]:
# Definir las características (X) y la variable objetivo (y)
# Excluir las columnas codificadas de 'RENDIMIENTO_GLOBAL' del conjunto de características
columnas_a_excluir_X = [col for col in df_codificado.columns if col.startswith('RENDIMIENTO_GLOBAL_')]
X = df_codificado.drop(columns=columnas_a_excluir_X)
y = df_limpio['RENDIMIENTO_GLOBAL']

# Mostrar las primeras filas de X y la forma de X e y
print("Primeras filas de las características (X):")
display(X.head())

print("\nForma de X:", X.shape)
print("Forma de y:", y.shape)

Primeras filas de las características (X):

,ID,PERIODO_ACADEMICO,INDICADOR_1,INDICADOR_2,INDICADOR_3,INDICADOR_4,E_PRGM_ACADEMICO_3° CICLO PROFESIONAL NEGOCIOS INTERNACIONALES,E_PRGM_ACADEMICO_ACTIVIDAD FISICA Y DEPORTE,E_PRGM_ACADEMICO_ACUICULTURA,E_PRGM_ACADEMICO_ADMINISTRACION,...,F_EDUCACIONMADRE_No Aplica,F_EDUCACIONMADRE_No sabe,F_EDUCACIONMADRE_Postgrado,F_EDUCACIONMADRE_Primaria completa,F_EDUCACIONMADRE_Primaria incompleta,F_EDUCACIONMADRE_Secundaria (Bachillerato) completa,F_EDUCACIONMADRE_Secundaria (Bachillerato) incompleta,F_EDUCACIONMADRE_Técnica o tecnológica completa,F_EDUCACIONMADRE_Técnica o tecnológica incompleta,INDICADOR_COMPUESTO
0,904256,1.294094,0.437002,-0.556223,0.813978,0.060296,False,False,False,False,...,False,False,True,False,False,False,False,False,False,0.755053
1,645256,1.294094,0.346934,-0.481341,0.508180,0.016142,False,False,False,False,...,False,False,False,False,False,False,False,False,True,0.389915
2,308367,0.439801,0.232301,-0.492038,0.729034,0.016142,False,False,False,False,...,False,False,False,False,False,True,False,False,False,0.485439
3,470353,-0.319570,1.771650,-0.941332,-0.171371,-1.072993,False,False,False,False,...,False,False,False,False,False,True,False,False,False,-0.414046
4,989032,1.294094,0.387874,-0.299484,0.389259,0.457683,False,False,False,False,...,False,False,False,True,False,False,False,False,False,0.935331

Forma de X: (692500, 1036)
Forma de y: (692500,)

In [ ]:
from sklearn.model_selection import train_test_split

# Dividir los datos en conjuntos de entrenamiento y prueba (por ejemplo, 80% entrenamiento, 20% prueba)
X_entrenamiento, X_prueba, y_entrenamiento, y_prueba = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

# Mostrar la forma de los conjuntos resultantes
print("Forma del conjunto de entrenamiento de X:", X_entrenamiento.shape)
print("Forma del conjunto de prueba de X:", X_prueba.shape)
print("Forma del conjunto de entrenamiento de y:", y_entrenamiento.shape)
print("Forma del conjunto de prueba de y:", y_prueba.shape)

Forma del conjunto de entrenamiento de X: (554000, 1036)
Forma del conjunto de prueba de X: (138500, 1036)
Forma del conjunto de entrenamiento de y: (554000,)
Forma del conjunto de prueba de y: (138500,)